p {
    font-style: italic;
    color: beige;
    font-size: x-large;
}

body {
    background-color: darkgrey;
}

h3 {
    color: bisque;
    text-decoration: underline;
    font-size: x-large;
}

h1 {
    color: bisque;
    text-decoration: underline;

    font-weight: 500;
    text-align: center;
}

.intro-paragraph {
    color: beige;
    border-style: double;
    border-color: brown;
    border-radius: 10px;
}

#second-paragraph {
    border-style: double;
    border-color: brown;
    border-radius: 10px;
}

#formone {
    color: beige;
    border-style: double;
    border-color: brown;
    text-align: center;
    display: inline-block;
}

#beatle-links {
    border-style: double;
    border-color: brown;
    text-align: end;
    display: inline-block;
}

h4 {
    color: bisque;
    text-decoration: underline;
}

#top-pictures {
    padding: 10px;
    text-align: center;
    border-style: double;
    border-color: brown;
    background-color: beige;

}

.font-size {
    font-size: xx-large;
    text-align: center;
    text-decoration: underline;
    color: bisque
}

#paulp {
    text-align: center;
}

h2 {
    color: bisque;
    text-decoration: underline;
    text-align: center;
}

.picture-2 {
    border-radius: 5px;
    border-style: double;
    border-color: brown;
    text-align: center;
    background-color: beige;
}

.links {
    text-decoration: underline;
    text-align: center;
    font-size: x-large;
}

#wingsmembers {
    border-style: double;
    border-color: brown;

    display: inline-block;
}

#wingspictures {
    display: inline-block;
}

.albums {
    border-style: double;
    border-color: brown;
    margin-left: 65px;
    margin-top: 65px;
    background-color: bisque;
}

#picture-background {
    background-color: bisque;
}

#john-background {
    background-color: rosybrown;
}

li {
    color: brown;
}

table,
th,
td,
tr {
    border: 1px solid;
    border-color: beige;
    color: beige;
    background-color: brown;
}

#john-pictures {
    text-align: center;
    background-color: bisque;
}

#george-background {
    background-color: darkgoldenrod;

}

.george-color {
    background-color: brown;
}

#ringo-background {
    background-color: olive;
}